
body{
        
        margin: 0;
        background: greenyellow;   
       
           
}
.Login{
        
        display: flex;
       justify-content: center;
       
        
}


.formlogin {
        box-shadow: 0px 1px 13px 2px rgba(251, 251, 251, 0.09);
        margin-top: 10%;
        display: grid;
       justify-content: center;
       align-content: center;
       justify-items: center;
        background: rgba(25, 24, 24, 0.32);
        border: 0;
        width: 400px;
        height: 400px;
}
input{
        border-radius: 5px;
}
.Link{
        display: grid;
        width: 40%;
        height: 50px;
        border-radius: 5px;
        background-color: blue;
        justify-content: center;
        align-items: center;
}
img{
        width: auto;
        height: auto;
}