.Menu{
    
    background:red;
    
    
    }
    .Menefunction{
        display: flex;
    flex-direction: column;
    }
.Menefunction button{
    width: 100%;
    
    
}
@media only screen and (max-width: 1200px){
               .Menu{
                display: none;
               }
}