.Navbar{
    display: flex ;
    justify-content: space-around;
    text-align: center;
    background: blue;
    margin: 0 ;
    
}
.Navbar div{
    
    display: flex ;
    justify-content: space-around;
    height: 7vh;
    
}
.L{
    
    background: orchid;
   
    width: 25%;
    

    
}
.M{
    
    background: peru;
   
    width: 50%;
    
    

}
.R{ 
    
    background: orchid;
    
    
    width: 25%;
    

}